.creative{
    color: midnightblue;
}
body{
    margin: 50px;
    font-family: "Poppins", sans-serif;
    background-color: antiquewhite;
}
h1{
    font-size: 90px;
    text-align: left;
}
.logo{
    width: 300px;
    height: 60px;
}
.bath1{
    float: left;
    width: 45%;
}
.bath2{
    float: right;
    width: 45%;
}
.tile-image{
    width: 100%;
    height: 100%;
    
}
.card-title{
    font-size: xx-large;
    margin: 0%;
}
p{
    font-size: larger;
    font-weight: 500;
    padding:0%
}
footer{
    clear: both;
    text-align: right;
    color: midnightblue;
}
@media(max-width: 680px){
    h1{
        text-align: center;
        
    }
    .logo{
    width: 150px;
    height: 30px;
    }
    .bath1{
    float: none;
    width: 100%;
    margin-bottom: 10%;
    }
    .bath2{
    float: none;
    width: 100%;
    margin-bottom: 10%;
    
    }


}