body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      padding: 0;
      
    }
    .grid-container{
      height: 748px;
      width: 748px;
      display:grid;
      grid-template-columns: 320px 198px 153px 50px;
      grid-template-rows: 414px 130px 155px 22px;
      gap:9px;
      background-color: #000;

      
    }
    .white1{
      background-color: #F0F1EC;
      grid-column: span 3 ;
    }
    .white2{
      background-color: #F0F1EC;
      grid-area: 2 / 1 / 4 / 1 ;
    }
    .red{
      background-color: #E72F24;
      grid-area: 1 / 1 / 2 / 2;
    }
    .white3{
      background-color: #F0F1EC;
      grid-area: 2 / 2 / 4 / 4;
    }
    .white4{
      background-color: #F0F1EC;
      grid-area: 3/4/5/5;
    }
    .white5{
      background-color: #F0F1EC;
      grid-area: 4 / 1 / 5 / 2;
    }
    .black{
      background-color: #232629;
      grid-area: 4 / 3 / 5 / 4;
    }
    .blue{
      background-color: #004592;
      grid-area: 2 / 4 / 3 / 5;
      border-bottom: 10px solid black;
    }
    .yellow{
      background-color: #F9D01E;
      grid-area: 4 / 2 / 5 / 3;
    }